<!DOCTYPE html>
<title>Model 3</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="../home/Home">TESLA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="/logo.png" height="70" width="70">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../home/index">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../about/aboutpage">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="../vehicles/vehicle">Vehicles</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br/>
<br/>
<h1>TESLA Model 3</h1>

<style type="text/css"> 
	body,p,h1,h2,h3,table {
  margin-right: 100px;
  margin-left: 70px;
}
</style>

<style>
	table,th,td
	{
		border:2px solid white;
	}
	table
	{
		border-collapse:collapse;
		width:40%;
	}
	
	tr
	{
		background-color:black;
		color:white;
	}
	th
	{
		background-color:black;
		color:white;
	}
</style>
<style type="text/css">body {
font-family: arial;
background-color: #000000;}
h1,h2,h3,body,p {
color: rgb(255,255,255);}</style>

<body>
	<table>
		<tr><th>Battery</th>    <th>Weight</th></tr>
		<tr><td>Long Range</td>    <td>4,072 lbs</td></tr>

		<tr><th>Acceleration</th>    <th>Cargo</th></tr>
		<tr><td>3.2 seconds<br/>0-60 mph</td>    <td>15 cu ft</td></tr>		

		<tr><th>Range</th>    <th>Displays</th></tr>
		<tr><td>310 miles</td>    <td>15" Center Touchscreen</td></tr>

		<tr><th>Drive</th>    <th>Supercharging</th></tr>
		<tr><td>Dual Motor<br/>All-Wheel Drive</td>    <td>Pay Per Use</td></tr>

		<tr><th>Seating</th>    <th>Warranty</th></tr>
		<tr><td>5 Adults</td>    <td>Vehicle<br/>4 year 50,000 miles</td></tr>

		<tr><th>Wheels</th>    <th>Battery And Drive Unit</th></tr>
		<tr><td>20" Performance<br/>Wheels</td>    <td>8 year 120,000 miles </td></tr>

	</table>




</body>
<center><video src="/tesla model 3.mp4"
width="700" height="500"
preload
controls
preload
autoplay>
</video> </center> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


