<!DOCTYPE html>
<title>Tesla Vehicles</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="../home/Home">TESLA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 <img src="/logo.png" height="70" width="70">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../home/index">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../about/aboutpage">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="../vehicles/vehicle">Vehicles</a>
      </li>
          </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    
<style type="text/css"> 
  body,p,h2,table{
  margin-right: 100px;
  margin-left: 70px;
}
</style>

<style type="text/css">body {
font-family: arial;
background-color: #000000;}
h1,h2,h3,body,p {
color: rgb(255,255,255);}</style>
<body>
<hr/>
<h1>TESLA Vehicles</h1>
<br/>
<h3>TESLA Roadster</h3>
<img src="/roadster-car.jpg" width="600" height="300">
<br/>
<a href="../model/roadster">View specs..</a>
<hr/>
<h3>TESLA Model S</h3>
<img src="/22da5d652596575b62397fa72bcjpg.jpg" width="600" height="300">
<br/>
<a href="../model/s">View specs..</a>
<hr/>
<h3>TESLA Model X</h3>
<img src="/2016-tesla-model-s-1-of-43.jpg" width="600" height="300">
<br/>
<a href="../model/x">View specs..</a>

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

